* {
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  font-size: 16px;
  font-family: "Comic Sans MS", sans-serif;

  --color-main-0: #fff;
  --color-main-1: #eee;
  --color-main-2: #999;
  --color-main-3: #333;
  --color-main-4: #111;
  --color-main-5: #000;
  --color-warning: #ad2831;
  --color-message-main: #cae4ed;
  --color-message-primary: #bdefce;
}

@mixin horizontalForm {
  flex-direction: row;
  gap: 5px;

  .fields {
    flex-grow: 1;
  }
}

h1 {
  font-size: 1.5em;
}

.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-main-0);
  color: var(--color-main-5);
}

.form-wrapper, .navigation {
  width: 300px;
  max-height: 90vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 10px;
  padding: 20px;
  border: 2px solid var(--color-main-5);
  border-radius: 16px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  font-size: 14px;

  .fields {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    text-align: left;
    padding-right: 5px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-main-2);
      border-radius: 54px;
    }
  }

  label {
    display: flex;
    flex-direction: column;
  }
}

.input-error {
  display: none;
  font-size: 12px;
  color: var(--color-warning);
}

.text-field {
  width: 100%;
  height: 36px;
  border-radius: 8px;
  padding: 5px;
  font-size: 14px;

  &.invalid {
    border: 2px solid var(--color-warning);
  }

  &.invalid + .input-error {
    display: inline-block;
  }
}

button {
  width: 100%;
  background-color: var(--color-main-5);
  color: var(--color-main-0);
  height: 36px;
  border-radius: 8px;
  font-size: 14px;

  &:hover {
    cursor: pointer;
    background-color: var(--color-main-3);
  }

  &:active {
    background-color: var(--color-main-4);
  }
}

a {
  color: var(--color-main-5);
}

.error-title {
  font-size: 100px;
}

.error-description {
  font-size: 30px;
}

.icon {
  width: 30px;
  height: 30px;

  &:hover {
    cursor: pointer;
    color: var(--color-main-2);
  }
}

.select-user-page {
  .form {
    @include horizontalForm;

    button {
      width: 30px;
    }
  }

  .found-users {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
    font-size: 0.9em;

    .found-user {
      padding: 5px;

      &:hover {
        cursor: pointer;
        background-color: var(--color-main-1);
      }
    }
  }
}

.messenger-page {
  width: 100%;
  flex-direction: row;
  justify-content: start;
  align-items: stretch;
  overflow: hidden;

  .chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;

    .empty-selected-chat {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 18px;
    }

    &-header {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 5px;
      margin-left: 5px;
      margin-right: 5px;
      border-bottom: 2px solid var(--color-main-5);

      .chat-header-title {
        flex-grow: 1;
      }
    }

    &-content {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 10px;
      padding: 5px;
      margin-right: 5px;
      overflow: auto;

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--color-main-2);
        border-radius: 54px;
      }

      .message-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;

        &:first-child {
          flex-grow: 1;
        }

        .message-content {
          max-width: 50%;
          height: fit-content;
          padding: 10px 15px;
          border-radius: 20px;
          background-color: var(--color-message-primary);
        }
      }

      .own-message {
        justify-content: flex-end;

        .message-content {
          background-color: var(--color-message-main);
        }
      }
    }

    .message-creator {
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 5px;
      border-top: 2px solid var(--color-main-5);

      .form {
        @include horizontalForm;
      }

      button {
        width: 100px;
      }
    }
  }

  .menu-and-chats {
    width: 30%;
    height: 100%;
    padding: 5px;
    border-right: 2px solid var(--color-main-5);

    .menu {
      display: flex;
      flex-direction: column;
      gap: 5px;
      padding-bottom: 5px;
      border-bottom: 2px solid var(--color-main-5);

      .menu-icons {
        display: flex;
        flex-direction: row;

        .left-menu-icons {
          flex-grow: 1;
          height: 30px;
        }
      }

      .menu-settings {
        display: flex;
        flex-direction: column;

        > a {
          &:hover {
            color: var(--color-main-2);
          }
        }
      }

      .add-chat {
        .form {
          @include horizontalForm;
        }

        button {
          width: 30px;
        }
      }

      .search, .add-chat, .menu-settings {
        padding-left: 10px;
      }
    }

    .chats {
      padding-top: 5px;
      padding-bottom: 5px;

      .chat-item {
        padding: 5px;

        &:hover {
          cursor: pointer;
          background-color: var(--color-main-1);
        }
      }
    }
  }
}

.profile-img-wrapper {
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50%;

  .profile-img {
    width: auto;
    height: 100%;
    margin: 0 auto;
  }
}


.links {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 0;

  .link {
    list-style-type: none;
  }
}

.file-loader {
  position: relative;
  width: fit-content;
  height: fit-content;

  .profile-img-wrapper {
    width: 100px;
    height: 100px;
  }

  .file-loader-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 100;
    cursor: pointer;
  }
}
