<div class="page">
  <div class="form-wrapper">
    <h1>Регистрация</h1>
    <form>
      {{> Input type="text" name="email" label="Почта" placeholder="Введите&nbsp;почту" }}
      {{> Input type="text" name="login" label="Логин" placeholder="Введите&nbsp;логин" }}
      {{> Input type="text" name="first_name" label="Имя" placeholder="Введите&nbsp;имя" }}
      {{> Input type="text" name="second_name" label="Фамилия" placeholder="Введите&nbsp;фамилию" }}
      {{> Input type="text" name="phone" label="Телефон" placeholder="Введите&nbsp;номер&nbsp;телефона" }}
      {{> Input type="password" name="password" label="Пароль" placeholder="Введите&nbsp;пароль" }}
      {{> Input type="password" name="password_repeat" label="Пароль (ещё раз)" placeholder="Введите&nbsp;пароль" }}
      {{> Button id="entry-button" text="Зарегистрироваться"}}
    </form>
    {{> Link id="to-authorization" text="Уже зарегистрированы?"}}
  </div>
</div>