<main class="page">
  <nav class="navigation">
    <ul class="links">
      <li class="link">{{#> Link id="to-authorization"}}Страница авторизации{{/Link}}</li>
      <li class="link">{{#> Link id="to-chat"}}Страница чата{{/Link}}</li>
      <li class="link">{{#> Link id="to-registration"}}Страница регистрации{{/Link}}</li>
      <li class="link">{{#> Link id="to-settings"}}Страница настроек{{/Link}}</li>
      <li class="link">{{#> Link id="to-404"}}Страница ошибки 404{{/Link}}</li>
      <li class="link">{{#> Link id="to-500"}}Страница ошибки 500{{/Link}}</li>
    </ul>
  </nav>
</main>