<div class="page">
  <div class="form-wrapper">
    {{> Link id="to-authorization" text="Страница авторизации"}}
    {{> Link id="to-registration" text="Страница регистрации"}}
    {{> Link id="to-chat" text="Страница чата"}}
    {{> Link id="to-settings" text="Страница настроек"}}
    {{> Link id="to-404" text="Страница ошибки 404"}}
    {{> Link id="to-500" text="Страница ошибки 500"}}
  </div>
</div>