<div class="page">
  <div class="form-wrapper">
    {{#> Link id="to-authorization"}}Страница авторизации{{/Link}}
    {{#> Link id="to-registration"}}Страница регистрации{{/Link}}
    {{#> Link id="to-chat"}}Страница чата{{/Link}}
    {{#> Link id="to-settings"}}Страница настроек{{/Link}}
    {{#> Link id="to-404"}}Страница ошибки 404{{/Link}}
    {{#> Link id="to-500"}}Страница ошибки 500{{/Link}}
  </div>
</div>